/* You can add global styles to this file, and also import other style files */
$primary-color: #2c438e;
$primary-text-color: #fff ;
$secondary-text-color: #272727;


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}