<main class="container">
  <h1>User list</h1>
  <label>Show: </label>
  <select (change)="changePageSize()" [(ngModel)]='sizePerpage' class="custom-select">
    <option *ngFor="let size of pageSizes" >
      {{ size }}
    </option>
  </select>
  <div class="table">
    <div
      *ngFor="
        let user of users
          | paginate
            : {
                itemsPerPage: sizePerpage,
                currentPage: page,
                totalItems: total   
              }
      "
      class="element-table"
    >
      <span>{{ user.first_name }} {{ user.last_name }}</span>
      <span>{{ user.email }}</span>
      <button (click)="requestUserRemoval(user.id)">Delete User</button>
      <button>View details</button>
    </div>
    <pagination-controls (pageChange)="ChangePage($event)"></pagination-controls>
  </div>
</main>
